__pycache__/
.ipynb_checkpoints
saved_activations/
data/places365
data/resnet18_places365.pth.tar
data/CUB
data/imagenet_val
data/ImageNet_val
data/places365.zip
saved_models/
.python-version
log/
test.ipynb
.vscode/
plot_figures/*.eps
saved_models_gpt4/cifar10/*
saved_models_gpt4/cifar100/*
saved_models_gpt4/cifar100-20/*
saved_models_gpt4/imagenet/*
saved_models_gpt4/stl10/*
saved_models_gpt4/stl10-unlabeled/*
